<h1>Show Empoyee</h1>

<h3> <%= @employee.first_name%> </h3>
<h3> <%= @employee.last_name%> </h3>
<h3> <%= @employee.email%> </h3>
<h3> <%= @employee.add_japanese_prefix %> </h3>
<h3> <%= @employee.gender%> </h3>

<h2> Full name: <%= @employee.full_name %> </h2>
<img src="http://www.farmtoschool.org/images/generic-profile.png"><br>

<h4> Updated on: <%= @employee.friendly_updated_at %> </h4>

<a href='/employees/<%= @employee.id %>/edit'>Edit</a>
<%= link_to "Delete", "employees/#{@employee.id}", method: :delete, data:{confirm: "Are you Sure?"} %><br>
<a href='/employees/'>Return to Employee List</a>