<h1>Show Employee</h1>

<h2> Full name: <%= @employee.full_name %> </h2>
<h3> Middle name: <%= @employee.middle_name %> </h3>
<h4> Email: <%= @employee.email%> </h4>
<h4> Phone: <%= @employee.add_japanese_prefix %> </h4>
<h4> Gender: <%= @employee.gender%> </h4>

<p> Your Groups:
<% @employee.groups.each do |group| %>
  <%= group.name %> 
<% end %>
</p>

<p> Biography: <%= @employee.bio%> </p>
<p> Latitude: <%= @employee.latitude %> </p>
<p> Longitude: <%= @employee.longitude %> </p>
<p> Added/Edited by: <%= @employee.user.email %> </p> 


<img src="http://www.farmtoschool.org/images/generic-profile.png"><br>

<h5> Updated on: <%= @employee.friendly_updated_at %> </h5>

<a href='/employees/<%= @employee.id %>/edit'>Edit</a>
<%= link_to "Delete", "/employees/#{@employee.id}", method: :delete, data:{confirm: "Are you Sure?"} %><br>
<a href='/employees/'>Return to Employee List</a>